* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-75 {
  margin-bottom: 75px;
}

a {
  text-decoration: none;
  color: #000;
}
